
node_modules
.vscode
.DS_Store
dist
.env
coverage
npm-debug.log
yarn-error.log
.idea
*.log
*.swp
.next
out
/build
.cache
*.tsbuildinfo
public/locales
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test
*.env.production
/.turbo
.turbo
.pnp.*
.pnpjson
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks     